<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

       <context:component-scan base-package="service dao"/>
       <!--<context:component-scan base-package="samples.webflow" />-->
       <!-- 启用基于注解的配置 -->
       <context:annotation-config />
       <import resource="dispatcher-servlet.xml" />
       <import resource="webflow-config.xml" />

       <bean class="org.springframework.orm.jpa.JpaTransactionManager" name="transactionManager">
              <property name="entityManagerFactory" ref="entityManagerFactory"/>
       </bean>

       <tx:annotation-driven transaction-manager="transactionManager"/>




       <!--Entity Manager Factory-->
       <bean id="entityManagerFactory"
             class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
              <property name="persistenceUnitName" value="stockPU"/>
              <property name="jpaVendorAdapter" ref="jpaVendorAdapter"/>


       </bean>


       <bean id="jpaVendorAdapter"
             class="org.springframework.orm.jpa.vendor.EclipseLinkJpaVendorAdapter">
              <property name="databasePlatform"
                        value="org.eclipse.persistence.platform.database.MySQLPlatform"/>
              <property name="generateDdl" value="false"/>
              <property name="showSql" value="true"/>

       </bean>

</beans>